@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');

* {
  font-family: 'Sigmar One', cursive;
  position: relative;
  z-index: 1;
}

body {
  background: black;
  font-family: 'Sigmar One', cursive;
}